#formContato{
    font-weight: bold;
    padding-left: 0.5cm;
}
.cabecario{
    background-color: rgb(197, 197, 197);
}
.titulo{
    font-size: 70px;
    color: rgb(41, 47, 122);
}

.texto{
    padding-left: 3cm;
    font-weight: bold;
}